<%
const packageJson = require('../package.json');
const publicUrl = process.env.PUBLIC_URL;
const title = (packageJson.htmlMeta && packageJson.htmlMeta.title) || packageJson.name;
const description = (packageJson.htmlMeta && packageJson.htmlMeta.description) || packageJson.description;
const type = (packageJson.htmlMeta && packageJson.htmlMeta.type) || 'website';
const siteName = (packageJson.htmlMeta && packageJson.htmlMeta.siteName) || null;
const themeColor = (packageJson.htmlMeta && packageJson.htmlMeta.themeColor) || null;
%>
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title><%= title %></title>
        <meta property="og:type" content="<%= type %>" />
        <meta property="og:title" content="<%= title %>" />
        <meta property="og:description" content="<%= description %>" />
        <meta name="description" content="<%= description %>" />
        <% if(siteName) { %>
            <meta property="og:site_name" content="<%= siteName %>" />
        <% } %>
        <link rel="icon" href="<%= publicUrl %>/favicon.svg" type="image/svg+xml" />
        <link rel="shortcut icon" href="<%= publicUrl %>/favicon.svg" type="image/svg+xml" />
        <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7132534/7654172/css/fonts.css" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link rel="manifest" href="<%= publicUrl %>/manifest.json" />
        <% if(themeColor) { %>
            <meta name="theme-color" content="<%= themeColor %>" />
        <% } %>
    </head>
    <body>
        <div class="editor-holder">
            <div class="scroll-container">
                <textarea id="editor" spellcheck="false"></textarea>
                <pre><code id="display"></code></pre>
            </div>
        </div>
    </body>
</html>